html, body {
    margin: 0;
}

h1 {
    font-family: 'Kaisei Opti', serif;
}

p, label, input, select, tr {
    font-family: 'Inter';
}

.welcome {
    background-color: #FBFFE5;
    height: 100vh;
}

.welcome h1 {
    font-family: 'Kaisei Opti', serif;
    font-size: 64px;
}

.flex-welcome-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-welcome-container > .graph-container {
    text-align: center;
}

.flex-welcome-container > div {
    flex: 1;
}

.nav {
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}


.nav > ul {
    display: inline-block;
    font-family: 'Inter';
}

.nav > ul > li {
    display: inline-block;
    padding: 0 50px;
    text-decoration: none;
    font-size: 24px;
}

.nav > ul > li > a {
    text-decoration: none;
    color: #000;
    transition: color 0.2s ease-in-out;
}

.nav > ul > li > a:hover {
    color: rgba(0, 0, 0, 0.486);
}

section.food {
    height: 100vh;
    padding: 50px 200px;
}

.flex-food-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-food-container > div {
    flex: 1;
}

.flex-food-container h1 {
    font-size: 48px;
    font-family: 'Kaisei Opti', serif;
    margin-bottom: 20px;
}

table tr:first-child {
    color: rgba(0, 0, 0, 0.37);
    border-bottom: #000 solid 1px;
}

table tr {
    border-bottom: rgba(0, 0, 0, 0.17) solid 1px;
}

table tr td, table tr th {
    padding: 10px;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
}

input,select {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 5px 0 10px 0;
}

input:focus, select:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}